@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "cabin-general";
  src: url(../fonts/Cabin/static/Cabin-Regular.ttf);
}
img {
  width: 100%;
}

h1 {
  font-family: "cabin-general";
  font-size: 4rem;
  color: #2D3047;
  font-style: normal;
  font-weight: 600;
  padding: 0 0 3vh 0vh;
}

.card1 {
  transition: all 2s ease-out;
}
.card1:hover {
  scale: 110%;
  background-color: #A88FAC;
}
.card1:hover h5 {
  color: #2D3047;
}
.card1:hover p {
  color: #ffffff;
}

.card2 {
  transition: all 2s ease-out;
}
.card2:hover {
  scale: 110%;
  background-color: #A88FAC;
}
.card2:hover h5 {
  color: #2D3047;
}
.card2:hover p {
  color: #ffffff;
}

.card3 {
  transition: all 2s ease-in-out;
}
.card3:hover {
  scale: 110%;
  background-color: #A88FAC;
}
.card3:hover h5 {
  color: #2D3047;
}
.card3:hover p {
  color: #ffffff;
}

/*Estilos menú*/
.contenedor__menu {
  background-color: #2D3047;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
}

.menucentrado {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 2vh;
  background-color: #2D3047;
}

.menu__boton {
  color: #FCF0CC;
  text-align: center;
  font-family: "cabin-general";
  font-size: 2rem;
}
.menu__boton:hover {
  color: #d88508;
  font-family: "cabin-general";
  font-size: 2rem;
}
.menu__boton:active {
  color: #FCF0CC;
}

.menu_nav {
  padding: 0;
}

.logotobi {
  background-color: #ffffff;
  width: 10%;
  height: 10%;
  border-radius: 200px;
}

.nombretobi {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  padding: 0 2vh;
}
.nombretobi:hover {
  color: #d88508;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.contenedor__carousel {
  padding: 0;
  z-index: 0;
}

.slidetobi h5 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: #FCF0CC;
  font-style: normal;
  font-weight: 600;
}

.slidetobi p {
  font-family: "cabin-general";
  font-size: 2rem;
  color: #ffffff;
  font-style: italic;
  font-weight: 200;
}

.tobiasistente {
  text-align: center;
  padding: 0vh 2vh 0 2vh;
}
.tobiasistente img {
  width: 60%;
  border-radius: 40px;
}
.tobiasistente p {
  font-family: "cabin-general";
  background-color: #A88FAC;
  border-radius: 5px;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  padding: 30px;
  font-size: 2rem;
}

.botontobi {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 400;
  border-radius: 20px;
  color: #2D3047;
  border: 2px solid #2D3047;
}
.botontobi:hover {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 400;
  border-radius: 20px;
  color: #ffffff;
  background: #CA2E55;
  border: 2px solid #A88FAC;
}

.contenedor__cards {
  position: relative;
  top: 10vh;
  background-color: #2D3047;
  padding: 3vw;
}

.tobicards h5 {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 100;
  color: #1B998B;
}

.tobicards p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: #2D3047;
}

.tobicards2 h5 {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 100;
  color: #CA2E55;
}

.tobicards2 p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: #2D3047;
}

.tobicards3 h5 {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 100;
  color: #d88508;
}

.tobicards3 p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: #2D3047;
}

.contenedor__mapa {
  background-color: #1B998B;
  padding: 0px;
  position: relative;
  top: 30vh;
}
.contenedor__mapa h5 {
  color: #FCF0CC;
  font-family: "cabin-general";
  font-size: 4rem;
  background-color: #1B998B;
  padding: 4vh 0 0 0;
}

.contenedorformulario {
  background-color: #4b5179;
  padding: 4vh 0;
  margin: 0vh;
  position: relative;
  top: 30vh;
}
.contenedorformulario input {
  font-family: "cabin-general";
  font-size: 2rem;
  color: #2D3047;
}
.contenedorformulario label {
  font-family: "cabin-general";
  font-size: 2rem;
  color: #FCF0CC;
}
.contenedorformulario .textospam {
  font-family: "cabin-general";
  font-size: 2rem;
  color: #FCF0CC;
  background-color: #A88FAC;
}

.contenedorformulario button {
  font-family: "cabin-general";
  font-size: 3rem;
  color: #FCF0CC;
  background-color: #1B998B;
}
.contenedorformulario button:hover {
  font-family: "cabin-general";
  font-size: 3rem;
  font-weight: 400;
  border-radius: 20px;
  background-color: #CA2E55;
}

.container-redes {
  position: relative;
  top: 30vh;
  padding: 5vh;
  margin: 0;
}
.container-redes img {
  width: 55px;
}

.contenedor__video {
  padding: 10vh 0 0 0;
  margin: 0;
}

.container-testimoniostobi p {
  font-size: 2rem;
  font-style: italic;
}

.contenedor__tobiasistente {
  position: relative;
  top: 30vh;
}

.tobiasistente2 {
  text-align: center;
  padding: 5vh 2vh;
}
.tobiasistente2 img {
  width: 60%;
  border-radius: 40px;
}
.tobiasistente2 p {
  font-family: "cabin-general";
  background-color: #CA2E55;
  border-radius: 5px;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  padding: 30px;
  font-size: 2rem;
}

.tobiasistente3 {
  text-align: center;
  padding: 1vh 1vh;
}
.tobiasistente3 img {
  width: 60%;
  border-radius: 40px;
}
.tobiasistente3 p {
  font-family: "cabin-general";
  background-color: #4b5179;
  border-radius: 5px;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  padding: 30px;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
