* {
    margin:0;
    padding:0;
}

html {
    font-size:20px;
}

@font-face {
    font-family: 'cabin-general';
    src: url(./fonts/Cabin/static/Cabin-Regular.ttf);
}

/*Estilos menú*/
.menucentrado {
    display:grid;
    justify-content: center;
    background-color: #2D3047;
}

.menu__boton {
    color: #FFF4E4;
    font-family:'cabin-general';
    font-size: 1.5em;
}
.menu__boton:hover{
    color: #d88508;
    font-family:'cabin-general';
    font-size: 1.5em;
}

.menu__boton:active {
    color: #d3d3d3;
}
.menuicono {
    color: #1B998B;
    background-color: #d88508;
    size: 500px;
}

.menu_nav {
    padding: 0;
}

.logotobi {
    display:grid;
    background-color: #ffffff;
    width:10%;
    height:10%;
    border-radius: 200px;
}

.nombretobi {
    color: #FFF4E4;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 500;
    padding: 0 2vh;
}
.nombretobi:hover {
    color: #CA2E55;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 500;
}
.contenedor__menu {
    background-color: #2D3047;
    display: flex;
    position: fixed;
    z-index: 100;
    top:0;

}
.tobinombre {
    font-family:'cabin-general';
    font-size: 3em;
    font-style:normal;
    font-weight:600;
    color: #FFF4E4;
    padding: 0 2vw;
}
.tobinombre div {
    background-color: #CA2E55;
}

.tobinombre img {
    top:80px;
    width: 4%;
    border-radius: 20px;
    margin:20px 10px;
    background-color: #CA2E55;
}

.tobinombre p {
    display:inline;
    font-family:'cabin-general';
    font-size: 1.5em;
    top:40px;
    left:200px;
    background-color: #FFF4E4;

}

/*Estilos SOBRE TOBI*/

.container-holatobi {
    padding: 5vh 2vh;
}
h1 {
    font-family:'cabin-general';
    font-size:5rem;
    color: #2D3047;
    font-style:normal;
    font-weight: 600;
    padding: 0 0 3vh 0vh;
}

.contenedor_carousel {
    padding: 0;
    z-index: 0;
}

.slide h5{
    font-family:'Poppins', sans-serif;
    font-size:3em;
    color: #FFF4E4;
    font-style:normal;
    font-weight: 600;
}

.slide p{
    font-family:"cabin-general";
    font-size:1.4em;
    color: #FFF4E4;
    font-style:italic;
    font-weight: 200;
}

.tobiasistente {
    background-color: #2d304700;
    border-radius: 40px;
    text-align: center;
} 
.tobiasistente img {
    width: 60%;
    border-radius: 40px;
}

.tobiasistente p {
    font-family: "cabin-general";
    background-color: #A88FAC;
    border-radius: 5px;
    color: white;
    text-align: left;
    margin: 10px;
    padding:30px;
    font-size: 1.2em;
}
.tobiasistente a {
    font-size:60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(24, 233, 233);    
}

.tobiasistente h2 {
    font-family:"cabin-general";
    font-size:4em;
    font-weight:100;
    color: aliceblue;
}

.botontobi {
    font-family:"cabin-general";
    font-size:2em;
    font-weight:100;
    color: #2D3047;
    border-radius: 20px;
    border:2px solid #2D3047;
}

.botontobi:hover {
    font-family:"cabin-general";
    font-size:2em;
    font-weight:400;
    color:white;
    border-radius: 20px;
    background: #CA2E55;
    border:2px solid #A88FAC;
}

.contenedor_cards {
    background-color: #2D3047;
    padding: 5vw;
}

.tobicards h5{
    font-family:"cabin-general";
    font-size:2em;
    font-weight:100;
    color: #1B998B;
}
.tobicards p{
    font-family:'Poppins', sans-serif;
    font-size:1em;
    font-weight:100;
    color: #2D3047;
}

.tobicards2 h5{
    font-family:"cabin-general";
    font-size:2em;
    font-weight:100;
    color: #CA2E55;
}
.tobicards2 p{
    font-family:'Poppins', sans-serif;
    font-size:1em;
    font-weight:100;
    color: #2D3047;
}
.tobicards3 h5{
    font-family:"cabin-general";
    font-size:2em;
    font-weight:100;
    color: #d88508;
}
.tobicards3 p{
    font-family:'Poppins', sans-serif;
    font-size:1em;
    font-weight:100;
    color: #2D3047;
}

.contenedor_mapa{
    background-color: #1B998B;
    padding: 0px;

}

.contenedor_mapa h5{
    color: #FFF4E4;
    font-family:"cabin-general";
    font-size: 3em;
    background-color: #1B998B;
    padding: 3vh;

}

.containerform {
    background-color: #2D3047;
    padding: 3vh 0;

}
.containerform label{
    font-family:"cabin-general";
    font-size: 1.5em;
    color: #FCF0CC;
}

#emailHelp {
    font-family:"cabin-general";
    font-size: 1em;
    color: #FCF0CC;
    background-color: #ADB9E3;
}
.containerform button{
    font-family:"cabin-general";
    font-size: 1.5em;
    color: #FCF0CC;
    background-color: #1B998B;

}

.containerform button:hover{
    font-family:"cabin-general";
    font-size: 1.5em;
    font-weight: 600;
    color: #FCF0CC;
    background-color: #CA2E55;
}
.container-social {
    padding: 5vh;
    margin: 0;
}
.container-social img{
    width: 55px;
}

.contenedor-video {
    padding: 10vh 0 0 0;
    margin: 0;

}

.container-testimoniostobi p{
    font-size: 2em;
    font-style: italic;

} 

/*Mobile*/

@media only screen and (max-width: 500px) {
    .contenedor_cards {
        background-color: #CA2E55;
        }
    .sobretobi {
        display: none;
    }
} 

/*Tablet*/

@media only screen and (min-width: 501px) and (max-width: 968px) {
    .contenedor_cards {
        background-color: #ADB9E3;
        }
    .sobretobi img{
        display: none;
    }
    .contenedor__menu {
        background-color: #CA2E55;
    }
    .menucentrado {
        background-color: #CA2E55;
    }
}


