.contenedorformulario {
    background-color: $color9;
    padding: 4vh 0;
    margin: 0vh;
    position: relative;
    top: 30vh;

    & input {
        @include textform1;
        color: $color2;
    }

    & label {
        @include textform1;
        color: $color6;
    }

    & .textospam {
        font-family: "cabin-general";
        font-size: $fuente-lg;
        color: $color6;
        background-color: $color3;
    }
}

.contenedorformulario button {
    @include textform2;
    background-color: $color4;

    &:hover{
        @include textboton;
        background-color: $color1;
    }
}



