.contenedor__carousel {
    padding: 0;
    z-index: 0;
}

.slidetobi h5 {
    font-family: 'Poppins', sans-serif;
    font-size: $fuente-xxl;
    color: $color6;
    font-style: normal;
    font-weight: 600;
}

.slidetobi p {
    font-family: "cabin-general";
    font-size: $fuente-lg;
    color:$color8;
    font-style: italic;
    font-weight: 200;
}
