// Colores Tobi

$color1: #CA2E55;
$color2:#2D3047;
$color3:#A88FAC;
$color4:#1B998B;
$color5:#ADB9E3;
$color6:#FCF0CC;
$color7:#d88508;
$color8:#ffffff;
$color9: #4b5179;

// Tamaños de fuentes

$fuente-sm: 1rem;
$fuente-md:1.5rem;
$fuente-lg:2rem;
$fuente-xl:3rem;
$fuente-xxl:4rem;
